auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.yas-compiled-snippets.el
var/*
bin/*
/.project
.python-environments

# Don't ignore these files
!var/.keep
!bin/.keep
