[submodule "site-lisp/bash-completion"]
        path = site-lisp/bash-completion
        url = https://github.com/szermatt/emacs-bash-completion.git
[submodule "site-lisp/change-inner"]
        path = site-lisp/change-inner
        url = https://github.com/magnars/change-inner.el.git
[submodule "site-lisp/multifiles"]
        path = site-lisp/multifiles
        url = https://github.com/magnars/multifiles.el.git
[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package/
[submodule "etc/themes/dgoel-solarized"]
	path = themes/dgoel-solarized
        url = https://github.com/dgoel/emacs-color-theme-solarized
[submodule "etc/themes/dgoel-monokai"]
	path = themes/dgoel-monokai
	url = https://github.com/dgoel/monokai-emacs
[submodule "etc/themes/dgoel-sanityinc-tomorrow"]
	path = themes/dgoel-sanityinc-tomorrow
	url = https://github.com/dgoel/color-theme-sanityinc-tomorrow
[submodule "site-lisp/benchmark-init-el"]
	path = site-lisp/benchmark-init-el
	url = https://github.com/dholm/benchmark-init-el
[submodule "themes/bbatsov-solarized"]
	path = themes/bbatsov-solarized
	url = https://github.com/bbatsov/solarized-emacs
