[submodule "site-lisp/bash-completion"]
        path = site-lisp/bash-completion
        url = https://github.com/szermatt/emacs-bash-completion.git
[submodule "site-lisp/change-inner"]
        path = site-lisp/change-inner
        url = https://github.com/magnars/change-inner.el.git
[submodule "site-lisp/multifiles"]
        path = site-lisp/multifiles
        url = https://github.com/magnars/multifiles.el.git
[submodule "site-lisp/revbufs"]
        path = site-lisp/revbufs
        url = https://github.com/emacsmirror/revbufs.git
[submodule "site-lisp/emacs-color-theme-solarized"]
        path = site-lisp/emacs-color-theme-solarized
        url = https://github.com/dgoel/emacs-color-theme-solarized
[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package/
