[submodule "site-lisp/ace-jump-mode"]
        path = site-lisp/ace-jump-mode
        url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/yasnippet"]
        path = site-lisp/yasnippet
        url = https://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/expand-region"]
        path = site-lisp/expand-region
        url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/perspective"]
        path = site-lisp/perspective
        url = https://github.com/magnars/perspective-el.git
[submodule "site-lisp/delsel"]
        path = site-lisp/delsel
        url = https://github.com/emacsmirror/delsel.git
[submodule "site-lisp/bash-completion"]
        path = site-lisp/bash-completion
        url = https://github.com/szermatt/emacs-bash-completion.git
[submodule "site-lisp/jump-char"]
        path = site-lisp/jump-char
        url = https://github.com/lewang/jump-char.git
[submodule "site-lisp/multiple-cursors"]
        path = site-lisp/multiple-cursors
        url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/browse-kill-ring"]
        path = site-lisp/browse-kill-ring
        url = https://github.com/T-J-Teru/browse-kill-ring.git
[submodule "site-lisp/wgrep"]
        path = site-lisp/wgrep
        url = https://github.com/magnars/Emacs-wgrep
[submodule "site-lisp/smex"]
        path = site-lisp/smex
        url = https://github.com/nonsequitur/smex.git
[submodule "site-lisp/smart-forward"]
        path = site-lisp/smart-forward
        url = https://github.com/magnars/smart-forward.el.git
[submodule "site-lisp/ido-ubiquitous"]
        path = site-lisp/ido-ubiquitous
        url = https://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "site-lisp/change-inner"]
        path = site-lisp/change-inner
        url = https://github.com/magnars/change-inner.el.git
[submodule "site-lisp/s"]
        path = site-lisp/s
        url = https://github.com/magnars/s.el.git
[submodule "site-lisp/dash"]
        path = site-lisp/dash
        url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/multifiles"]
        path = site-lisp/multifiles
        url = https://github.com/magnars/multifiles.el.git
[submodule "site-lisp/fold-this"]
        path = site-lisp/fold-this
        url = https://github.com/magnars/fold-this.el.git
[submodule "site-lisp/revbufs"]
    path = site-lisp/revbufs
    url = https://github.com/emacsmirror/revbufs.git
[submodule "site-lisp/emacs-color-theme-solarized"]
	path = site-lisp/emacs-color-theme-solarized
	url = https://github.com/dgoel/emacs-color-theme-solarized
