auto-save-list
backups
.cache
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.yas-compiled-snippets.el
var/*
bin/*
elfeed_db/*
/.project
.python-environments
eln-cache/

# Don't ignore these files
!var/.keep
!bin/.keep
